body{
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--ghost-white);
    color: var(--oxford-blue);
}

main{
    height: 100vh;
    flex-grow: 1;

}

section{
    width: 100%;
    overflow-y: auto;
}

section div.container{
    margin-inline: 1rem;
}

section:nth-child(1){
    width: 100%;
    margin: 0px;
    overflow-y: unset;
    background-color: var(--oxford-blue);
}

section:nth-child(1) h1{
    margin: 0px;
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--ghost-white);
    height: 50px;
    padding-left: 1rem;
}

.table-container{
    margin-inline: auto;
    width: calc(100vw - 30vw);
    overflow-x: auto;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: .5rem;
}

th, td{
    white-space: nowrap;
    padding: .5rem;
    border: 1px solid var(--oxford-blue);
}

tr:nth-child(even){
    background-color: rgb(209, 211, 232);
}

@media screen and (max-width: 767px) {
    section:nth-child(1) h1{
        padding: 0px;
    }
    .table-container{
        width: calc(100vw - 2rem);
    }
}