body{
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--ghost-white);
    color: var(--oxford-blue);
}

main{
    height: 100vh;
    flex-grow: 1;

}

section{
    width: 100%;
    overflow-y: auto;
}

section div.container{
    margin-inline: 1rem;
}

section:nth-child(1){
    width: 100%;
    margin: 0px;
    overflow-y: unset;
    background-color: var(--oxford-blue);
}

section:nth-child(1) h1{
    margin: 0px;
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--ghost-white);
    height: 50px;
    padding-left: 1rem;
}

.table-container{
    margin-inline: auto;
    width: calc(100vw - 30vw);
    overflow-x: auto;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: .5rem;
}

th, td{
    white-space: nowrap;
    padding: .5rem;
    border: 1px solid var(--oxford-blue);
}

tr:nth-child(even){
    background-color: rgb(209, 211, 232);
}

.post-form{
    width: calc(100vw - 30vw);
    display: grid;
}

.post-form label{
    display: grid;
    grid-template-columns: 8rem auto;
    margin-block: .25rem;
    margin-bottom: .5rem;
}

.post-form label, .post-form input, .post-form select{
    font-family: Poppins;
    width: 100%;
}

.form-btn{
    background-color: var(--teal);
    font-size: 1rem;
    border: none;
    color: var(--ghost-white);
    font-family: Poppins;
    padding: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-btn:active{
    background-color: var(--bright-pink-crayola);
}

@media screen and (max-width: 767px) {
    section:nth-child(1) h1{
        padding: 0px;
    }
    .table-container{
        width: calc(100vw - 2rem);
    }
    .post-form{
        width: 100%;
    }
    .post-form label{
        display: block;
    }
}