.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}

.header-container h3{
    display: inline;
}

.header-container a{
    display: flex;
    align-items: center;
    background-color: var(--teal);
    color: var(--ghost-white);
    text-decoration: none;
    height: 2rem;
    padding-inline: .5rem;
}

.header-container a:active{
    background-color: var(--bright-pink-crayola);
}

.header-container form{
    width: 30vw;
    position: relative;
}

.header-container #txtSearch{
    background-color: inherit;
    border: none;
    border-bottom: 2px var(--oxford-blue) solid;
    font-size: 1rem;
    font-family: Poppins;
    width: 100%;
}

.header-container #txtSearch:focus{
    outline: none;
}

.header-container button{
    background-color: var(--ghost-white);
    border: none;
    position: absolute;
    top: 50%;
    right: -.25rem;
    transform: translateY(calc(50% - 1.725rem));
    font-size: 1rem;
    height: 25px;
}

.action-buttons{
    display: grid;
    gap: .5rem;
    grid-template-columns: auto auto;
}

.action-buttons a, a.anchor-btn{
    color: var(--ghost-white);
    background-color: var(--teal);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    text-decoration: none;
    padding-inline: .5rem;
}

.action-buttons a:active, a.anchor-btn:active{
    background-color: var(--bright-pink-crayola);
}

@media screen and (max-width: 767px) {
    .header-container{
        display: block;
    }
    .flex{
        display: flex;
    }
    .header-container form{
        width: 100%;
    }
    .header-container a{
        margin-top: .5rem;
    }
}
