body{
    position: relative;
}

#sidebar-btn{
    font-size: 3rem;
    background-color: inherit;
    border: none;
    color: var(--ghost-white);
    display: none;
}

#sidebar-btn:hover{
    color: var(--lime);
}

.sidebar-container{
    width: 25vw;
    max-width: 25vw;
}

.sidebar{
    width: 100%;
    height: 100vh;
    background-color: var(--oxford-blue);
    font-size: 1.2rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar .logo{
    font-size: 2rem;
    padding-block: .25rem;
    padding-left: .5rem;
    color: var(--lime);
    font-style: italic;
    font-weight: bold;
}

.sidebar .options{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 4rem);
}

.sidebar ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.sidebar a{
    text-decoration: none;
    color: var(--ghost-white);
    cursor: pointer;    
    width: 100%;
}

.sidebar li{
    padding-left: 1.5rem;
    display: flex;
    align-items: center;
    padding-block: .25rem;    
    white-space: nowrap;
}

.sidebar li.active{
    color: var(--lime);
}

.sidebar li:hover{
    color: var(--lime);
}

@media screen and (max-width: 767px){
    body{
        position: relative;
    }
    #sidebar-btn{
        display: inline-block;
    }
    .sidebar-container{
        width: 100%;
        max-width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        transition: ease-in-out .5s;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 2;
        display: none;
        opacity: 0;
    }
    .sidebar{
        width: 0px;
        font-size: 1.2rem;
        transition: ease-in-out .5s;
    }
    .sidebar .logo{
        font-size: 2rem;
    }
}