:root{
    --oxford-blue: #0a2342ff;
    --ghost-white: #e8e9f3ff;
    --bright-pink-crayola: #fc6471ff;
    --teal: #028090ff;
    --lime: #ceff1aff;
    font-size: 16px;
    font-family: Poppins;
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: transparent;
}
  
::-webkit-scrollbar-thumb {
    background: var(--teal);
}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--bright-pink-crayola);
}