body{
    background-color: var(--ghost-white);
    margin: 0px;
    position: relative;
}

.welcome-container{
    padding-top: 2.65rem;
    min-height: calc(50vh + 2rem);
    display: flex;
    width: 100%;
    background: url('../images/welcome-img.jpg') no-repeat;
    background-size: cover;
    color: var(--ghost-white);
    position: relative;
}

.welcome-container::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    mix-blend-mode: multiply;
}

.welcome-text{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-container :is(h1, p){
    display: inline;
    position: relative;
    z-index: 1;
}

.welcome-text h1{
    color: var(--bright-pink-crayola);
}

.welcome-text p{
    font-size: 1.5rem;
}

.welcome-text .text-container{
    margin-inline: 1rem;
}

.app-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.app-logo img{
    width: clamp(15rem, 30vw + 1.5rem , 30rem);
    position: relative;
    z-index: 1;
}

.welcome-msg span{
    position: relative;
    width: 100px;
    height: 100px;
    animation: bounce 250ms alternate;
    transition: ease-in-out 250ms;
}

.instruction-container{
    background-color: var(--oxford-blue);
    color: var(--ghost-white);
    min-height: 50vh;
}

.instruction-content{
    margin-inline: 1.5rem;
    padding: 1.5rem 0px;
}

.instruction-content h2{
    margin: 0px;
}

.open-qr-scanner-container{
    background-color: var(--bright-pink-crayola);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    width: 100%;
}

#btnOpenQR{
    background-color: transparent;
    border: none;
    color: var(--ghost-white);
    text-align: center;
    font-size: clamp(1rem, 15vw + 1.5rem, 2rem);
    cursor: pointer;
    border-radius: 2rem;
    padding: 1rem 2rem;
}

#btnOpenQR:hover{
    background-color: var(--oxford-blue);
}

.open-qr-scanner-container i{
    font-size: clamp(12rem, 20vw + 1.5rem, 20rem);
    display: block;
}

@keyframes bounce {
    0% {
        bottom: 0;
        color: var(--lime);
    }
    50% {
        bottom: 5px;
    }
    100% {
        bottom: 0;
        color: inherit;
    }
}

@media screen and (max-width: 767px) {
    html{
        scroll-snap-type: y mandatory;
    }
    .welcome-container{
        display: block;
        min-height: 100vh;
        scroll-snap-align: start;
    }
    .welcome-text{
        width: 100%;
        min-height: 50vh;
        text-align: center;
    }
    .app-logo{
        width: 100%;
        min-height: 50vh;
    }
    .instruction-content h2{
        margin-top: 1.5rem;
    }
    .instruction-container, .open-qr-scanner-container{
        scroll-snap-align: start;
        min-height: 100vh;
    }
}