#qr-scanner-dialog{
    background-color: var(--ghost-white);
    width: 80%;
    padding: 0px;
    border: none;
}

.qr-scanner-layout{
    position: relative;
}

#btn-close-scanner{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 2;
    color: white;
}

#qr-scanner{
    width: 100%;
    background-color: var(--oxford-blue);
    display: block;
    margin: auto;
}